@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
  overflow-x: hidden;

  background:
    radial-gradient(circle at 10% 10%, rgba(139,92,246,0.25), transparent 35%),
    radial-gradient(circle at 90% 20%, rgba(59,130,246,0.18), transparent 30%),
    radial-gradient(circle at 50% 100%, rgba(168,85,247,0.18), transparent 40%),
    #030712;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}